body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-content: center;
}
#content {
    display: table;
    align-self: center;
    max-width: 80em;
    margin: 0 auto;
}

a {
  color: #00B7FF;
}

.exercise {
    background-color: lightgreen;
    margin: 0.5em 0em;
    padding: 0.1em;
}
.exercise button {
    margin: 0 2em;
}

#run {
    display: table;
    align-self: center;
    background-color: #00B7FF;
    color: black;
    width: 50em;
    margin: 1em auto;
    padding: 1em 2em;
    font-size: larger;
    font-weight: bolder;
}

.editor {
    border: thin solid blue;
    border-left: thick solid blue;
}

#logo {
    width: 4em;
    height: 4em;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.exercise-index h1 {
    font-size: 50%
}