/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-content: center;
}*/
/* #content {
    display: table;
    align-self: center;
    max-width: 80em;
    margin: 0 auto;
}*/

a {
  color: #00B7FF;
}

.exercise {
    background-color: lightgreen;
    margin: 0.5em 0em;
    padding: 0.1em;
}
.exercise button {
    margin: 0 2em;
}

#run {

    font-size: larger;
    font-weight: bolder;
}

.editor {
    border: thin solid blue;
    border-left: thick solid blue;
}

#logo {
    width: 10;
    height: 10;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.exercise-index {
    margin-top: 2em;
}

.exercise-index h2 {
    font-size: 120%;
}

#exercises-index-menu {
    width: 100%;
    text-align: right;
}

#login-div {
    margin-top: 2em;
    width: 100%;
    text-align: left;
}

#login-dialog {
    display: none;
}

.authenticatedOnly {
    display: none;
}

#passwordLoginButton {
    
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
